 html,body,nav,ul,header,q
{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    line-height:1;
}

*{
    text-decoration: none;
    text-shadow: #111
}

header{
    background-image: url('images/header.jpg'); 
    border:5px solid transparent;
    padding: 5px;
    border-image: url('images/border.png') 20 round;
    width: auto;
    height: 100px;
}

header .header-brand{
    font-family: 'Yellowtail', cursive;
    color:rgb(223, 84, 66);
    margin: 0 auto;
    text-align: center;
    padding: 0 0;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 50px;
    display: block;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
    float: center;
}

header nav ul li{
    list-style: none;
    margin-right: 20px;
    width: 40px;
    display: inline-block;
    padding: 0 7px;
}

header nav ul li a{
    /* text-align: center; */
    font-family: 'Bungee', cursive;
    color:rgb(221, 91, 58);
    /* font-weight: 900; */
    font-size: 13px;
    /* border: 1px solid #111; */
    padding: 3px 10px;
    transition-duration: 2s;
    transition-property: width, height;
    /* border: 1px solid #fff; */
}

header nav ul li a:hover{
    transition:0.3s ease;
    color:rgb(246, 250, 43) ;
}

nav ul {
    list-style:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.main-banner{
    width: 100%;
    height: calc(100vh - 100px);
    background-image: linear-gradient(rgba(0,0,0,0.6 ) , rgba(0,0,0,0.6)) , url('https://images.pexels.com/photos/1444442/pexels-photo-1444442.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');  
    background-repeat: no-repeat;
    background-position: center;
    display: table;
    background-size: cover;
}


.vertical-center{
    /* display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%; */
    display: table-cell;
    vertical-align: middle;
}



.tim{
    text-align: center;
    color: #fff;
    font-family: 'Catamaran' , sans-serif;
    font-size: 19px;
    font-weight: 100;
    margin:0 auto;
    margin-top: 10px;
    letter-spacing: 2px;
}

.inline{
    text-align: center;
    color: #fff;
    font-family: 'Catamaran' , sans-serif;
    font-size: 17px;
    margin-top: 10px;
    font-weight: 300;
}



.main-banner h1{
    color: #fff;
    letter-spacing: 2px;
    /* font-family: Cormorant Garamond; */
    font-size: 45px;
    display: block;
    margin: 0 auto;
    text-align: center;
    text-shadow: 20px 10px rgb(5, 5, 5);
    /* padding: 180px 0px 15px 0px; */

}

.main-banner h2{
    font-family: 'Catamaran', sans-serif;
    color: #fff;
    line-height: 25px;
    font-size: 18px;
    font-style: italic;
    font-weight: 100;
    text-shadow: 0.5px 0.5px #111;
    text-align: center;
    
}

.main-banner h3{
    font-family: 'Catamaran', sans-serif;
    color: #fff;
    line-height: 20px;
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
    text-shadow: 0.5px 0.5px #111;
    text-align: center;
    padding-top: 10px;
    
}

.main-banner q{
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;
    color: ivory;
    line-height: 5px;
    font-size: 20px;
    font-weight: bold;
    padding: 3px;
}

q:hover{
    color: palevioletred;
}

@media only screen and (min-width:1000px){
.main-banner h1{
    font-size: 55px;
}

.main-banner h2{
    font-size: 20px;
}

.main-banner h3{
    font-size: 20px;
}
.main-banner q{
    font-style: normal;
    font-size: 25px;
}

header .header-brand{
    margin: 30px 0;
    /* font-family: 'Great Vibes', cursive; */
    font-family: 'Yellowtail', cursive;
    text-align: left;
    padding: 0 20px 0 20px;
    float: left;
    border-right: 5px solid rgba(245, 245, 245, 0.63) ;
}
header nav ul{
    margin: 0;
    float: left;
    line-height: 40px;
    padding: 20px 0px 0px 10px;
    float: left;
}        
header nav ul li{
    list-style: none;
    /* width: 40px; */
    display: inline-block;
    margin-right: 40px;
    padding: 0px 12px;
}

header nav ul li a{
    /* text-align: center; */
    font-family: 'Bungee', cursive;
    color: rgb(223, 107, 39);
    line-height: 20px;
    font-weight: 900; 
    font-size: 18px;
    /* border: 1px solid #111; */
    padding: 15px 20px;
}

header nav ul li a:hover{
    color:rgb(246, 250, 43) ;
    padding: 0px 5px;
}

}
/* @media  */
