html, body,div,iframe
 {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    background-color: rgba(22, 144, 224, 0.349);
}

*{
    text-decoration: none;
}

body {
    line-height:1;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

header{
    background-color: rgb(61, 63, 66);
    padding: 15px;
    width: auto;
    height: 100px;
    border: 5px double goldenrod;
}

header .header-brand{
    font-family: 'Yellowtail', cursive;
    color: rgb(228, 106, 25);
    margin: 0 auto;
    text-align: center;
    padding: 0 0;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 50px;
    display: block;
}

nav ul {
    list-style:none;
    margin: auto;
}

header nav ul{
    display: block;
    margin: 0 auto;
    width: fit-content;
    float: center;
    padding: 10px 10px 10px 10px;
}

header nav ul li{
    list-style: none;
    margin-right: 20px;
    width: 40px;
    display: inline-block;
    padding: 0px 7px;
}

header nav ul li a{
    font-family: 'Bungee', cursive;
    color: rgb(221, 93, 34);
    font-weight: bold; 
    font-size: 13px;
    padding:10px 10px;
}

header nav ul li a:hover{
    color: rgb(224, 238, 30);
    padding: 2px 10px;
    transition: 0.3s ease;
}  

.current {
    transition: 0.3s ease;
    text-decoration: underline;
}
    
.wrapper{
    max-width: 950px;
    margin: 0 auto;
    padding: 30px 30px 30px 30px;
    /* min-height: max-content; */
}    

h1{
    font-family: 'Catamaran', sans-serif;
    text-align: center;
    font-size: 25px;
    margin-bottom: 40px;
    margin-top: 10px;
    font-weight: 900;
    text-decoration: underline;
    color: rgba(228, 92, 58, 0.938);
}

h2{
    font-family: 'Catamaran', sans-serif;
    font-size: 21px;
    font-weight: 600;
    margin: 10px 0;
}

.resizable  {
    position: relative;
    padding-bottom: 65.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
    border:5px double rgb(22, 21, 21); 
    }
    .resizable iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

@media only screen and (min-width:1000px){

header .header-brand{
    margin: 30px 0;
    font-family: 'Yellowtail', cursive; 
    text-align: left;
    padding: 0 30px 0 40px;
    float: left;
    font-size: 50px;
    line-height: 40px;
    border-right: 5px solid  rgba(207, 195, 195, 0.979);
}

header nav ul{
    margin: 0;
    float: left;
    line-height: 40px;
    padding: 30px 0px 0px 10px; 
}
    
header nav ul li{
    list-style: none;
    margin-right: 20px;
    display: inline-block;
    margin-right: 40px;
    padding: 0 12px;
}

header nav ul li a{
    /* text-align: center; */
    font-family: 'Bungee', cursive;
    color: rgb(230, 129, 34);
    line-height: 20px;
    font-weight: 900;
    font-size: 18px;
    padding: 15px 20px;
}

header nav ul li a:hover{
    color: rgb(218, 221, 24);
    padding: 0px 5px;
    transition: 0.3s ease;
} 

h2{
    font-size: 30px;
}

h1{
    font-size: 45px;
}

}